[data-theme-version="dark"] {
    
    .header {
        background-color: $dark-card;
    }

    .header-right {
        // .icons > a {
        //     color: $d-ctl;

        //     i {
        //         color: $d-ctl;
        //     }
        // }

        &>ul {
            &>li {
                &>a, &>a i {
                    color: $white;
                }
            }
        }

        .notify-close {
            color: $white;
        }
        
        .dropdown-content-body {
            ul > li {
                background-color: $dark-card;

                a {
                    color: $d-ctl;
                }
            }
        }

        .notification-heading {
            color: $white;
        }
    }

    .header-left {
        .input-group-text {
            color: $white;
        }
        
    }

}