
.header-left {
    float: left;
    margin-left: 50px;
    line-height: 3.75rem;
    height: 100%;
    
    .input-group  {
        height: 100%;
        
        .input-group-text {
            font-size: 1rem;

            @include media-breakpoint-down(xs) {
                padding-left: 1.5rem;
            }

        }
    }

    input {
        background-color: transparent;
    }

    .dropdown-menu {
        margin: 0;
        height: 100%;
        box-shadow: none;
        width: 100%;
        padding: 0;
        
        form {
            height: 100%;
        }

        input.form-control {
            height: 100%;
            border: none;

            &:focus {
                box-shadow: none;
            }
        }
    }
}


[data-sidebar-style="compact"] {
    .header-left {
        margin-left: 0;
    }
}